  .product {
    position: relative;
    overflow: hidden;
}
.product-container {
    padding: 0 1vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.product-card {
    flex: 0 0 auto;
    width: 250px;
    height: 200px;
    margin-right: 40px;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    cursor: default;
}

.product-image img{
    display: block;
    margin: auto;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.product-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pre-btn, .nxt-btn {
    border: none;
    width: 1vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    cursor: pointer;
    z-index: 8;
}
.pre-btn {
    left: 0;
    transform: rotate(180deg);
}
.nxt-btn {
    right: 0;
}
.pre-btn img,
.nxt-btn img {
    opacity: 0.2;
}
.pre-btn:hover img,
.nxt-btn:hover img {
    opacity: 1;
}